@model _2AuthenticAPP.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Orders";

    var classTypeDict = new Dictionary<int, string>
    {
        {0, "Valid"},
        {1, "Fraud"},
    };
}

<h2>Orders</h2>

<form asp-action="Orders" method="get">
    <div class="form-group">
        <label for="searchString">Search by Transaction ID or Customer Email:</label>
        <input type="text" class="form-control" name="searchString" value="@Model.SearchString" />
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="showFraudOnly" name="showFraudOnly" value="true" checked="@Model.ShowFraudOnly" />
        <label class="form-check-label" for="showFraudOnly">Show Fraud Orders Only</label>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Customer Email</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Fraud</th>
            <th>Fraud Prediction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.FraudPredictions)
        {
            <tr>
                <td>@order.Order.TransactionId</td>
                <td>@order.Order.Customer?.Email</td>
                <td>@order.Order.Date</td>
                <td>@order.Order.Amount</td>
                <td>@(order.Order.Fraud == 1 ? "Yes" : "No")</td>
                <td>@order.Prediction</td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = Model.PageNumber == 1 ? "disabled" : "";
    var nextDisabled = Model.PageNumber == Model.TotalPages ? "disabled" : "";
}

<nav>
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-action="Orders" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-searchString="@Model.SearchString" asp-route-showFraudOnly="@Model.ShowFraudOnly">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="Orders" asp-route-pageNumber="@i" asp-route-searchString="@Model.SearchString" asp-route-showFraudOnly="@Model.ShowFraudOnly">@i</a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a class="page-link" asp-action="Orders" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-searchString="@Model.SearchString" asp-route-showFraudOnly="@Model.ShowFraudOnly">Next</a>
        </li>
    </ul>
</nav>